@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "projects";
@import "responsive";


body {
  font-family: lato;
  padding-top: 5em;
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0;

  &:first-child {
    margin-top: 1.4285714285714286em;
  }
}

form {
  max-width: 40%;
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;

}
a.new, a.edit, a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

a.navbar-brand {
  font-family: consolas;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}
