@media(min-width: $screen-sm-min) {
  h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
  }
  ul.actions {
    position: absolute;
    bottom: -0.1428em;
    right: 0.1428em;
    max-width: 45%;
    text-align: right;
  }
}
